@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background: #f5e6dc;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;

}

.element, .count{
    background: #FFFFF0;
    border: 6px solid #FFF;
    margin: 20px 0;

}
.text{
    width: 360px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

}

.block img{
    max-width: 360px;
}

.content h1{
    text-align: center;
    margin: 60px 0 40px;
    font-style: 36px;
}

.img + h2, .text + h2{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}

.img{
    text-align: center;
    margin-bottom: 60px;

}

.img img{
    border: 6px solid #FFF;
}



.black{
color: black;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 350px;
    
    
}


.card{
    border: 2px solid grey;
    flex-basis: 280px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.image img{
    width: 250px;
    height: auto;
}
.top a{
    background: #2d023a;
    color: #f5e6dc;
    font-size: 25px;
    font-weight: bold;
    height: 65px;
    text-align: center;
    box-sizing: border-box;
    padding: auto;
    text-decoration: none;
    display: block;
}
.image{
    margin: 20px 0;
}
.price{
    font-size: 25px;
}

.bot a{
    background: #2d023a;
    color: #f5e6dc;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 60px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
}
.image_big{
    text-align: center;
}
.logo img{
height: 100px;}

.menu{
    padding: 10px 60px;
}

.menu .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: #663366;
    font-weight: bold;
    text-decoration: none;
}

.menu ul{
    display: flex;
    list-style: none;
    font-size: 22px;
}

.menu li{
    margin-left: 40px;
}
.autor{
    text-align: center;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    border: 3px solid #2d023a;
}

.card_img{
    padding: 10px;
}
.info_top{
    text-align: center;
}