{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
    <div class="info_top">
    <h2>Когда потребуется протезирование:</h2>
    <p>Основным показанием к протезированию является отсутствие одного и более зубов.
        В то же время, к ортопеду, врачу-стоматологу, который занимается протезированием зубов, может обратиться пациент
        и с другими проблемами. Так, посредством протезов можно восстановить сильно разрушенную коронковую часть зуба,
        исправить форму коронки, восстановить зубы при чрезмерной стираемости. Таким образом, протезирование помогает
        не только восстановить функции утраченных зубов, но и вернуть эстетику улыбки в целом.</p>
    <h2>К чему приводит длительное отсутствие зубов:</h2>
    </div>
<div class="info">
    {% for card in cards %}
    <div class="card">
        <div class="card_img"><img src="{{ card.image.url }}" alt=""></div>
        <h4>{{ card.title }}</h4>
    </div>
    {% endfor %}
</div>
{% endblock %}