<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/trollface.ico' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
        </div>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'services' %}">Каталог</a></li>
            <li><a href="{% url 'info' %}">Информация</a></li>
            <li><a href="{% url 'autor' %}">Контакты</a></li>

        </ul>
    </div>
</div>
<div class="content">
  <div class="wrap">
    {% block content %}
    {% endblock %}
  </div>
</div>
</body>
</html>